body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  max-width: 800px;
  min-width: 400px;
}

[required] {
  border-color: red;
}

fieldset {
  background-color: lightgrey;
  padding: 1rem;
}

fieldset:hover {
  background-color: grey;
}

form fieldset:nth-child(odd) {
  border-bottom-color: black;
  border-bottom-width: 5px;
}

[type="submit"] {
  background-color: black;
  color: white;
  border: none;
}
