body {
  display: flex;
  margin: 0;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: black;
  text-align: center;
  padding: 30px;
}

header > h1 {
  font-size: 3em;
  margin: 0;
  padding-top: 20px;
}

header > h2 {
  font-size: 2.5em;
  margin: 20px 0;
}

.articulo {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
  margin-bottom: 100px;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

h3 {
  display: block;
  font-size: 2em;
  margin: 10px 0;
  border-bottom: 2px solid black;
  color: grey;
}

section > img {
  flex-grow: 1;
  width: auto;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 10px 0;
  font-weight: bold;
}

input {
  background-color: rgb(155, 84, 84);
  border: 0;
  height: 30px;
}

#user_comentary {
  margin-bottom: 30px;
  height: 150px;
}

[type="submit"] {
  color: white;
  background-color: black;
  font-weight: bold;
  width: 100px;
  height: 40px;
}

@media (min-width: 576px) {
  body {
    align-items: center;
  }
  header {
    justify-content: flex-start;
    text-align: left;
  }

  header > h2 {
    margin: 0;
  }

  .articulo {
    max-width: 500px;
    margin-bottom: 0;
  }

  section {
    display: grid;
    grid-template-areas:
      "titulo titulo"
      "parrafo1 image"
      "parrafo2 parrafo2";
    margin-bottom: 0;
  }
  section > h3 {
    grid-area: titulo;
    margin-bottom: 10px;
  }
  section > img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    grid-area: image;
  }

  section p:nth-child(3) {
    grid-area: parrafo1;
  }
  section p:nth-child(4) {
    grid-area: parrafo2;
  }
}
