.lista li:last-child {
  background: rgb(0, 0, 255);
}

.lista li:nth-child(odd) {
  text-decoration: underline;
  text-decoration-color: green;
}

.lista > li {
  display: inline;
  margin-left: 10px;
}

.lista li:nth-child(1)::after {
  content: "\01F302";
}

.lista li:nth-child(2)::after {
  content: "\01F304";
}

.lista li:nth-child(3)::after {
  content: "\01F306";
}

.lista li:nth-child(4)::after {
  content: "\01F308";
}

.lista li:nth-child(5)::after {
  content: "\01F310";
}

.lista li:nth-child(6)::after {
  content: "\01F312";
}

[lang="en"] {
  font-size: 2rem;
  text-transform: uppercase;
}

#provincias {
  list-style-type: lower-roman;
}
#provincias li:nth-child(2) {
  list-style-type: none;
}
