body {
  display: flex;
  background-color: olivedrab;
  color: white;
  padding: 50px;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 9rem;
  margin: 0 0 30px 0;
  animation-name: titulo;
  animation-duration: 1s;
}

article {
  display: flex;
  align-items: center;
}

.miembro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  margin: 0 20px;
  padding-top: 30px;
  animation-name: usuarios;
  animation-duration: 4s;
}

.central {
  animation-name: usuarios;
  animation-duration: 2s;
}

.miembro > p {
  background-color: blue;
  margin: 0;
  padding: 20px;
  font-size: 0.8rem;
}

.central p:nth-child(4) {
  padding-bottom: 10px;
}

.central p:nth-child(5) {
  padding-top: 10px;
}

.miembro > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.miembro > h3 {
  color: black;
  font-size: 1.5rem;
}

.iconos {
  margin-bottom: 20px;
}

.iconos > a > img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px;
}

.central > .iconos > a > img {
  width: 40px;
  height: 40px;
}

.miembro:hover {
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

@keyframes titulo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes usuarios {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
